<div class="container">

<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "first_name" }%>
    <%= f.input :last_name,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "last_name" }%>
    <%= f.input :preferred_name,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "preferred_name" }%>
    <%= f.input :date_of_birth,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "date_of_birth" }%>
    <%= f.input :gender,
                required: true,
                collection:  [ ['male', 'Male' ], ['female', 'Female'], ['other',"Other"],["not_to_say", "Prefer not to say"]],
                label_method: :second,
                value_method: :first,
                autofocus: true,
                input_html: { autocomplete: "gender" }%>
    <%= f.input :nationality, as: :country,
                label: "Place of birth",
                required: true,
                autofocus: true,
                input_html: { autocomplete: "nationality" }%>
    <%= f.input :contact_number,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "contact_number" }%>
    <%= f.input :bio,
                label: "What do you want your flatmates to know about you?",
                required: false,
                autofocus: true,
                input_html: { autocomplete: "false" }%>
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
